@import "tailwindcss";
@reference "./shadcn.css";

:root {
	--shape: oklch(0.97 0 0 / 0.5);
	--shape-border: oklch(0.205 0 0);
	--shape-selected: oklch(0.8 0.1 240 / 0.5);
	--shape-selected-border: oklch(0.5 0.12 245);
	--shape-hole: oklch(0.205 0 0 / 0.8);
	--shape-hole-border: oklch(0.556 0 0);
	--marker: oklch(0.6 0.08 240);
	--marker-hover: oklch(0.5 0.1 245);
	--marker-selected: oklch(0.646 0.222 41.116);
	--grid: oklch(0 0.6 0);
	--fringe-0: oklch(0.985 0 0 / 0.95);
	--fringe-1: oklch(0.97 0 0 / 0.9);
	--fringe-2: oklch(0.922 0 0 / 0.85);
	--fringe-3: oklch(0.646 0.222 41.116 / 0.8);
	--fringe-4: oklch(0.6 0.118 184.704 / 0.8);
	--fringe-5: oklch(0.769 0.188 70.08 / 0.8);
	--fringe-6: oklch(0.828 0.189 84.429 / 0.8);
	--fringe-7: oklch(0.645 0.246 16.439 / 0.8);
}

.dark {
	--shape: oklch(0.269 0 0 / 0.5);
	--shape-border: oklch(0.708 0 0);
	--shape-selected: oklch(0.8 0.1 240 / 0.5);
	--shape-selected-border: oklch(0.556 0 0);
	--shape-hole: oklch(0.556 0 0 / 0.8);
	--shape-hole-border: oklch(0.985 0 0);
	--marker: oklch(0.7 0.1 245);
	--marker-hover: oklch(0.5 0.1 245);
	--marker-selected: oklch(0.646 0.222 41.116);
	--grid: oklch(0 0.6 0);
	--fringe-0: oklch(0.985 0 0 / 0.95);
	--fringe-1: oklch(0.269 0 0 / 0.9);
	--fringe-2: oklch(1 0 0 / 0.85);
	--fringe-3: oklch(0.488 0.243 264.376 / 0.8);
	--fringe-4: oklch(0.696 0.17 162.48 / 0.8);
	--fringe-5: oklch(0.769 0.188 70.08 / 0.8);
	--fringe-6: oklch(0.627 0.265 303.9 / 0.8);
	--fringe-7: oklch(0.645 0.246 16.439 / 0.8);
}

@theme inline {
	--color-shape: var(--shape);
	--color-shape-border: var(--shape-border);
	--color-shape-selected: var(--shape-selected);
	--color-shape-selected-border: var(--shape-selected-border);
	--color-shape-hole: var(--shape-hole);
	--color-shape-hole-border: var(--shape-hole-border);
	--color-marker: var(--marker);
	--color-marker-hover: var(--marker-hover);
	--color-marker-selected: var(--marker-selected);
	--color-fringe-0: var(--fringe-0);
	--color-fringe-1: var(--fringe-1);
	--color-fringe-2: var(--fringe-2);
	--color-fringe-3: var(--fringe-3);
	--color-fringe-4: var(--fringe-4);
	--color-fringe-5: var(--fringe-5);
	--color-fringe-6: var(--fringe-6);
	--color-fringe-7: var(--fringe-7);
}

@layer base {
	.point {
		@apply stroke-[6px];
		@apply stroke-transparent;
		@apply fill-marker;
		vector-effect: non-scaling-stroke;
	}
	.selected.point {
		@apply !fill-marker-selected;
	}
	.transperent.point {
		@apply fill-transparent;
	}
	.hoverable.point {
		@apply hover:cursor-pointer;
		@apply hover:!fill-marker-hover;
	}
}

@layer base {
	text {
		stroke: none;
		@apply fill-primary;
	}
	.shape {
		@apply fill-shape;
		@apply stroke-shape-border;
		vector-effect: non-scaling-stroke;
	}
	.measure {
		@apply fill-none;
		@apply stroke-primary;
		line {
			vector-effect: non-scaling-stroke;
		}
	}
	.hole {
		.shape {
			@apply fill-shape-hole;
			@apply stroke-shape-hole-border;
		}
	}
	.selected {
		.shape {
			@apply fill-shape-selected;
			@apply stroke-shape-selected-border;
		}
	}
	.hoverable {
		.shape {
			@apply hover:cursor-pointer;
			@apply hover:stroke-shape-selected-border;
			@apply hover:fill-shape-selected;
		}
	}
	g.measure.hoverable:has(text:hover),
	g.measure.selected {
		@apply cursor-pointer;
		@apply stroke-shape-selected-border;
		@apply fill-shape-selected;
	}
}
